.products-gallery{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.product-card{
    width: 386px;
    height: 444px;
    padding: 20px;
    margin: 2px;
    margin-bottom: 50px;
    font-family: "Raleway", sans-serif;
    
}

.product-card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 200ms;
}

.product-image{
    width: 98%;
    height: 70%;
    margin: auto;
    background-position: center;
    background-size:contain;
    background-clip: content-box;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

.out-of-stock{
    font-family: "Raleway", sans-serif;
    font-weight:100;
    font-size: 40px;
    background-color: #FFFFFF;
    opacity: 50%;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-name{
    font-size: 18px;
    font-weight: 300;
    Line-height: 28.8px;
}

.product-price{
    font-size: 18px;
    font-weight: bold;
    Line-height: 28.8px;
}

.quick-shop-btn{
    position: relative;
    display: block;
    right: -296px;
    bottom: 97px;
    background-color: #5ECE7B;
    border: none;
    background-image: url("../../assets/lightentrolley.png");
    background-position: center;
    background-size:30px;
    background-repeat: no-repeat;
    z-index: 999;
    width: 52px;
    height: 52px;
    border-radius:90rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.quick-shop-btn:hover{
    background-color: #2f693e;
    transition: all 200ms ease-in-out;
}