*{
    color: #1D1F22;
}
.product-details{
    width: 25%;
    height: 70vh;
    padding: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
}
.product-details>h1{
    font-weight: bolder;
    font-size: xxx-large;
    font-weight: 700 ;
    margin-bottom: 0;
}
.product-details-name{
    margin-bottom: 70px !important;
    font-weight: 400 !important;
    font-size: 55px;
    position: relative;
}
.attribute-name{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px !important;
    font-weight: 700 !important;
}
.btn-tag{
    background-color: transparent;
    border: none;
    width: 63px;
    height: 49px;
    margin: 0 15px 0 15px;
    padding: 0;
}
.btn-tag:hover{
    background-color: rgba(192, 192, 192, 0.685);
}
.tags{
    display: flex;
    justify-content:  flex-start;
    padding: 0;
}
.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border: 2.5px #1D1F22 solid;
    width: 63px;
    height: 45px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    line-height: 18px;
}
.color-tag{
    list-style: none;
    width: 40px;
    height: 40px;
}
.color-btn-tag{
    background-color: transparent;
    border: none;
    width: 45px;
    height: 45px;
    margin: 0 15px 0 15px;
    padding: 0;
}
.selected-tag-overlay{
    background-color: #1D1F22 !important;
    color: white !important;
}
.selected-color-btn-tag-overlay{
    border: 2px solid #5ECE7B  !important;
}
.add-to-cart{
    width: 400px;
    height: 52px;
    color: white;
    background-color: #5ECE7B;
    border: none;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 24px;
    cursor:pointer;
    margin: auto;
}
.add-to-cart:hover{
    background-color: #429257;
}
.not-allowed{
    background-color: #808080;
}
.not-allowed-overlay{
    position: absolute;
    width: 400px;
    height: 52px;
    background-color: transparent;
    z-index: 999;
}
.product-description{
    height: 160px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background:#1D1F22;
    border-radius: 10px;
}